html
{
  height: 100%;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #393f4d;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}
#logo
{
  width: 60%;
  height: 100%;
  float: right;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
body
{
  min-height: 100%;
  background-color: #f2f2f2;
}
#topdiv{
  background-color: #feda6a;
  width: 100%;
  height: 80px;
  display: flex;
  margin: 0px;
  margin-right: 0px;
  /* box-sizing: border-box; */
}
#td1
{
  display: inline-block;
  width: 10%;
}
#td2
{
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  padding-top: 15px;
  font-family: Bigelow Rules;
  letter-spacing: 0.23em;
  font-weight: 700;
}
.td{
  padding: 25px;
  padding-right: 4px;
  padding-left: 4px;
  font-weight: bold;
  color: #393f4d;
  height: 80px;
}
#fb
{
  border: 0px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  position: fixed;
  top: 400px;
  left: -5px;
}
#twit
{
  border: 0px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  position: fixed;
  top: 452px;
  left: -5px;
}
#kart
{
  background-color: white;
  padding: 10px;
  border: 3px solid #393f4d;
  border-radius: 40px;  
  position: fixed;
  top: 90%;
  left: 95%;
  height: 70px;
  width: 70px;
  padding-left: 13px;
  padding-top: 13px;
}
#main_div{
  
  background-color: #1d1e22;
  border: 2px black solid;
  border-radius: 2px;
  /*display: flex;*/
  height: 100%;
}
#basic_div2{
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  background-color: #1d1e22;
}
.p_divs{
  margin: 20px;
}
#cards
{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  justify-content: space-around;
}
#car_div{
  height:250px;
  width: 900px;
  margin: 5px;
  border: 1px black solid;
}
@media (max-width: 1500px)
{
  #kart
  {
    display: none;
  }
}
#cart
{
  height: 40px;
  width: 40px;
}
.press
{
  background: #feda6a;
  border: #feda6a 4px solid;
  color: #1d1e22;
  border-radius: 0px;
  box-shadow: 4px 4px rgb(48, 46, 46); 
  width: 150px;
  margin: auto;
  text-align: center;
}
@keyframes slide
{
  0%{
    color: #1d1e22;
    background: #feda6a;
    border: 4px #feda6a solid;
  }
  100%{
    width: 90%;
    color: #1d1e22;
    background: #feda6a;
    border: 4px #feda6a solid;
    box-shadow: 2px 2px black;
  }
}
.press:hover
{
  animation-name: slide;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.card
{
  background: #393f42;
  border-radius: 0px;
}

.back {
  outline: solid 0px #393f42;
  transition: outline 0.3s linear; /* Increased margin since the outline expands outside the element */
}

.back:hover { outline-width: 5px; 
}
#sign
{
  transform: scale(1, 0);
  position: relative;
  transform-origin: 100% 100%;
  transition: transform ease-in-out 250ms;
}
#signin:hover #sign
{
  transform: scale(1, 1);
}
#signin::after
{
  position: absolute;
  content: '';
  width: 50%;
  height: 5px;
  left: 27%;
  bottom: 0px;
  background: #393f42;
  display: block;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
#signin:hover::after
{
  transform: scale(1, 1);
}
.link
{
  position: relative;
  color: #f2f2f2;
}
.link::before
{
  content: '';
  position: absolute;
  display: block;
  top: 0%;
  height: 0.2em;
  left: 0%;
  right: 5%;
  background-color: #f2f2f2;
  transform: scale(0, 1);
  transform-origin: 0% 0%;
  transition: transform ease-in-out 250ms;
}
.link::after
{
  content: '';
  position: absolute;
  display: block;
  bottom: 0%;
  left: 0%;
  right: 5%;
  height: 0.2em;
  background-color: #f2f2f2;
  transform: scale(0, 1);
  transform-origin: 100% 0%;
  transition: transform ease-in-out 250ms;
}
#navbar > a:hover
{
  transition: color ease-in-out 250ms;
  color: rgb(165, 158, 158);
}
.link:hover::before
{
  transform: scale(1,1);
}
.link:hover::after
{
  transform: scale(1,1);
}
.heart {
  position: absolute;
  left: 90%;
  top: 5%;
  width: 32px;
  height: 25px;
}

.right,
.left {
  position: absolute;
  left: 15px;
  top: 0;
  width: 15px;
  height: 24px;
  background: white;
  border-radius: 15px 15px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.right {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
#kart-pop
{
  position: relative;
  text-align: left;
  padding-left: 2em;
  padding-top: 20px;
}
#kart-pop::after
{
  position: absolute;
  content: 'Cart';
  display: block;
  font-weight: 700;
  font-family: Baumans;
  color: #393f42;
  letter-spacing: 0.087em;
  left: 2em;
  transform: scale(0);
  transition: transform cubic-bezier(0, 1.3, 0.58, 1) 400ms;
}
#kart-pop:hover
{
  transition: padding-top cubic-bezier(0, 0, 0, 0.96) 300ms;
  padding-top: 10px; 
}
#kart-pop:hover::after
{
  transform: scale(1);
}
#terms
{
  color: white;
  text-align: center;
}
span
{
  margin: 0px 15px 0px 15px;
}
@media (max-width: 1200px)
{
  #td2,#td1
  {
    display: none;
  }
}
@media (max-width: 800px)
{
  #td35
  {
    display: none;
  }
}
@media (max-width: 970px)
{
  #basic_div2
  {
    display: none;
  }
}
#men-head{
  background-color: #feda6a;
}