html
{
	height: 100%;
}
body
{
	background-image: url(background.jfif);
	background-size: 100% 100%;
	max-height: 100%;
}
#main{
	border: ;
	border-radius: 10px;
	margin: auto;
	margin-top: 180px;
	box-shadow: 10px 10px;
	height: 400px;
	width: 400px;
	background-color: #feda6a;
}
.label
{
	text-align: left;
	padding-left: 50px;
}
#signup
{
	text-align: center;
}
h1
{
	padding: 50px;
	padding-bottom: 20px;
}
#form{
	padding-left: 0px;
	text-align: center;
}
#submit{
	 background-color: #393f4d;
}
#forgot{
    width: 146px;
    height: 35px;
    padding: 2px;

    margin: 2px;
    font-size: 14px;
}
#down
{
	color: white;
	text-align: center;
	margin-top: 20px;
}
#sign
{
	padding-left: 120px;
}
input
{
	border: 0px solid transparent;
	border-radius: 25px;
	padding: 10px;
	padding-left: 20px;
	background-color: lightgrey;
	width: 80%;
}